/* CSS Custom properties */

/* Defined in the Kinesis Pro theme
--content-font-color: #161616;
*/

:root {
    --color-grey-text: #60747c;
    --color-grey-text-darker: #45545b;
    --color-telematics-blue: #00a7e1;
    --color-telematics-blue-darker: #0075a9;
    --color-pale-blue-bg: #f5fcfe;
    --color-pale-blue-bg-hover: #fbfefe;
    --color-bg-active: #f5f7f7;
    --color-bg-hover: #edf3f5;
    --color-bg-hover--lighter: #f8fafa;
    --color-bg-hover-darker: #e3e7e7;
    --color-border-grey: #f3f6f6;
    --montserrat-weight: 500;
    --color-red: #f44054;
}

/* Open Sans for sub text */
p,
p a,
.details-overview__summary .small,
#entry-description,
.entry-description,
key-listing-description,
key-listing-stat,
key-details-overview-summary,
key-feed-entry-info,
.item-list label {
    font-family: 'Open Sans', Montserrat, sans-serif;
}
/* Open Sans for marker labels */
.font-sans-serif {
    font-family: 'Open Sans', Montserrat, Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif !important;
    font-weight: 500;
    padding: 0 3px;
}
/* reset to primary font */
key-details-overview-summary h3 {
    font-family: Montserrat, 'Open Sans', sans-serif;
}

/* Lighter grey text for various */
.nav-link:not(.active) .nav-link-text,
key-listing-description,
.listing .listing__stat,
.details-overview__summary .small,
kui-tab-bar .tab-bar ol li,
#entry-description,
.entry-description,
kui-content-header-actions {
    color: var(--color-grey-text);
}
key-listing-description .muted-less {
    opacity: unset !important;
}

/* Hover bg + text colour states */ /* TODO: also focus states */
a.main-nav-link.nav-link.action:hover,
.listing--active,
.listing--hover:hover:not(.listing--active),
kui-tab-bar .tab-bar ol li.hover:hover,
.map-button:hover {
    background: var(--color-bg-active) !important;
}
.feed-entry:hover {
    background: var(--color-bg-hover--lighter);
}
.nav-link:hover .nav-link-text,
.tab-bar ol li:hover .text-truncate,
a.main-nav-link.nav-link.action:hover .nav-link-text,
.nav-link.hover:hover,
.app-menu .app-menu-content a.main-nav-link.nav-link.active:hover .nav-link-text,
.overview-details-footer .action.hover:hover,
.text-link:hover {
    opacity: unset;
    color: var(--content-font-color) !important;
}

key-listing:hover key-listing-description {
    color: var(--color-grey-text-darker);
}

/* Border colours */
.app-menu .app-menu-content .app-menu-content-inner,
.main-nav-link.nav-link.active,
.listing,
kui-content-header .content-header,
kui-tab-bar .tab-bar,
kui-tab-bar .tab-bar *,
.app-content *,
.feed-entry {
    border-color: var(--color-border-grey);
}
div:not(#tabs) > .tabs-header > .content-header {
    border-top: 0;
}
.overview-details-footer .content-header,
kui-content-header:first-of-type .content-header,
.overview-details-footer .content-header {
    border-bottom: 0;
}
#tabs kui-content-header:first-of-type .content-header {
    border-bottom: 1px solid var(--color-border-grey);
}
kui-content-header .content-header .tab-mount kui-tab-bar ol li:last-of-type {
    border-right: 1px solid var(--color-border-grey);
}

/* Float panel – fit tab text! */
key-status-overview kui-side-panel {
    min-width: 430px !important;
    max-width: 100%;
}
kui-tab-bar .tab-bar ol li {
    font-size: 12.5px;
}
kui-tab-bar .tab-bar ol li kui-icon i {
    padding: 0.2rem;
}
/* ...and make the tabs wrap */
kui-content-header .content-header .tab-mount kui-tab-bar .tab-bar {
    /* border-top: 1px solid var(--color-border-grey);
    border-bottom: 1px solid var(--color-border-grey); */
    height: calc(100% + 1px);
    overflow: hidden;
}
kui-content-header .content-header .tab-mount kui-tab-bar ol {
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 1px);
    position: relative;
    left: -1px;
}
key-overview-details kui-tab-bar {
    width: 100% !important;
    overflow: hidden !important;
}
key-overview-details kui-tab-bar .tab-bar ol:after {
    content: '';
    border-top: 1px solid var(--color-border-grey);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 39px;
}
@media (max-width: 767px) {
    key-overview-details kui-tab-bar .tab-bar ol:after {
        top: 39px;
    }
}
key-overview-details kui-tab-bar .tab-bar ol li {
    padding: 10px;
    border-left: 1px solid var(--color-border-grey) !important;
    border-right: 1px solid var(--color-border-grey) !important;
    margin-right: -1px;
}
key-overview-details kui-tab-bar .tab-bar ol li:last-of-type {
    margin-right: 0;
}
kui-content-header .content-header {
    height: auto;
}
key-overview-details tab-bar .text-truncate {
    text-overflow: unset;
}
@media (max-width: 767px) {
    /* Hide gap – OK to hide (star) */
    key-overview-details #tabs kui-content-header .content-header .icon-mount {
        display: none;
    }
    /* remove truncation fade */
    .tab-mount:after {
        box-shadow: none;
    }
    kui-tab-bar {
        /* Remove weird grey line (partial auto scrollbar?) */
        overflow: hidden;
    }
}

/* Asset list search Go btn */
.content-card-block .input-group .btn-secondary,
kui-input-group .btn-secondary {
    background: var(--color-telematics-blue);
    color: #fff;
    border: 0;
}
.content-card-block .input-group .btn-secondary:hover {
    opacity: unset;
    background: var(--color-telematics-blue-darker);
}
.content-card-block .input-group .btn-secondary kui-icon {
    color: #fff;
}
/* Asset list search Close btn */
.content-card-block .input-group .btn-danger,
kui-input-group button.btn-danger {
    background: #f7f7f7;
    color: var(--color-grey-text);
    border: 0;
}
.content-card-block .input-group .btn-danger:hover,
.content-card-block .input-group .btn-danger:focus,
.content-card-block .input-group .btn-danger:active {
    background: var(--color-bg-hover-darker);
}

/* Float panel drop shadow */
kui-side-panel.left.shadow.position-absolute {
    box-shadow: 0 5px 8px 0 rgb(0 42 69 / 18%);
}
.leaflet-bar {
    box-shadow: 0 5px 8px 0 rgb(0 42 69 / 18%) !important;
}
key-map-toolbar {
    filter: drop-shadow(0 5px 8px rgba(0, 42, 69, 18%));
}

/* Move colour bar to the right of label */
.leaflet-tooltip {
    padding-right: 12px;
}
.map-marker-color-bar {
    display: inline-block !important;
    position: absolute;
    right: 0;
    top: 0px;
    height: 100%;
    width: 6px !important;
    margin-right: 0 !important;
}
.leaflet-tooltip-right {
    margin-left: 4px;
}
.leaflet-tooltip-left {
    margin-right: 4px;
}
.leaflet-tooltip-right .map-marker-color-bar {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.leaflet-tooltip-left .map-marker-color-bar {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

/* Show icon (not red text) for highlighted stale Time Ago text */
key-listing-stat .text-danger {
    color: var(--color-grey-text) !important;
}
key-listing-stat > span.text-danger::after {
    content: ' ⚠️';
    margin-right: 1em;
}

/* Animate map marker on hover */
.position-marker svg {
    transform-origin: bottom center;
    transition: all 0.15s cubic-bezier(0.28, 0.84, 0.42, 1);
}
.position-marker:hover svg {
    transform: scale(1.2);
}
/* Animate map label on hover */
.map-marker-color-bar,
.leaflet-tooltip {
    transition: all 0.15s cubic-bezier(0.28, 0.84, 0.42, 1);
}
.position-marker:hover + .leaflet-tooltip {
    opacity: 1 !important;
}

/* Utility icons (search, filter etc) */
kui-content-header .content-header kui-icon:hover i.icon,
kui-content-header .content-header kui-icon:focus i.icon kui-content-header .content-header kui-icon:active i.icon {
    color: var(--content-font-color);
}
/* Alert icons etc */
key-listing kui-icon {
    color: var(--color-telematics-blue);
    transform: scale(0.9);
}
/* Make sure all main left nav icons and their text labels line up */
.main-nav kui-icon i {
    min-width: 25px;
}

/* Asset name dropdown focus border */
.input-group kui-select:not(:last-child) .dropdown .dropdown-toggle {
    border-right: 1px solid transparent !important;
}
.input-group kui-select:not(:last-child) .dropdown .dropdown-toggle:focus {
    border-right: 1px solid var(--color-primary-color) !important;
}

/* Allow grey info text to run full width of panel in Asset Details > Trips */
/* CAUSES ISSUES ON SMALLER SCREENS - removed 25/7/24 */
/*
feed-entry-info {
    margin-left: 0 !important;
}
key-trip-feed-item #entry-description {
    width: calc(100% + 105px);
}
key-trip-feed-item .entry-title:has(.icon-trip-parked) + #entry-description {
    width: calc(100% + 86px);
}
*/

/* Geo-lock icon over pin in list */
key-listing key-listing-avatar kui-icon {
    padding: 5px;
    border-radius: 100%;
    position: relative;
    top: -8px;
    left: -4px;
    filter: drop-shadow(3px 3px 0 rgba(255, 255, 255, 0.9));
}
key-listing key-listing-avatar kui-icon .icon-lock:before {
    font-weight: bold;
}

/* Bolder tag icons */
.icon.icon-tag {
    font-weight: bold;
}

/* Min height on some elements to ensure we can see spinner on mobile */
key-video-list {
    min-height: 100px;
}

/* Bell notification icon: colourise the badge to be red */
kui-icon[name='bells'] .notification {
    border: 3px solid var(--color-red) !important;
}

/* Remove slight x scrolling issue */
.details-container {
    overflow-x: hidden !important;
}

/* Scroll bars styles */
::-webkit-scrollbar-thumb {
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
}

/* Accent / theme colour on map RHS panel checkboxes / radios (map Layers panel) */
key-map-toolbar input[type='radio'],
key-map-toolbar input[type='checkbox'] {
    accent-color: #008bca;
}

/* TRIP HISTORY */

/* Reduce the size of the route markers */
/* key-trip-replay-map .leaflet-map-pane svg {
    transform: scale(0.7);
    transform-origin: bottom center;
} */

/* Tint the background of the selected state of options flyout */
kui-option-panel p-tieredmenu .ui-tieredmenu .ui-menuitem-link:not(.ui-state-disabled):hover,
kui-option-panel p-tieredmenu .ui-tieredmenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
    background: var(--color-bg-hover);
}

/* --- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat;
}

kui-content-header .content-header .title,
.map-button-assets {
    font-weight: 500;
}

/* restyle the company name */

.user-profile {
    margin: 8px;
    padding: 0.4rem;
    border-radius: 3px 3px;
    background: none;
    box-shadow: 0 2px 6px 0 rgb(0 70 103 / 7%);
    font-size: 11px;
}
.user-profile:hover,
.user-profile:focus,
.user-profile:active {
    background: var(--color-bg-hover);
}

.menu-collapsed .user-profile {
    box-shadow: none;
    margin: 0;
    padding: 0.5rem;
    border-radius: none;
    background: none;
}

kui-menu-brand .brand {
    border-bottom-style: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

kui-menu-brand .brand img {
    max-width: 145px;
}

/* navigation icons */

.main-nav .main-nav-link {
    padding: 10px 5px 10px 15px;
}

.menu-collapsed .main-nav .main-nav-link {
    padding: 0.8rem 1rem;
}

.main-nav-link.nav-link.active {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

a.main-nav-link.nav-link.action.hover.active {
    background: var(--color-pale-blue-bg) !important;
}

/* a.main-nav-link.nav-link.action:hover {
    background: #FBFEFE !important;
} */

.main-nav-link.active .nav-link-text {
    color: #333 !important;
}

.main-nav-link.active:before {
    width: 0 !important;
}

.nav-section .nav-link-text {
    margin-left: 0.6rem;
}

/** Overview details box */

/* change the search icon to a chevron and change side */
.map-button.map-button-assets {
    display: flex;
    align-content: center;
    flex-direction: row-reverse;
}
.map-button.map-button-assets i {
    margin-right: 0;
    margin-left: 8px;
    margin-top: 3px;
}
.map-button.map-button-assets i:before {
    content: '\f054';
}

/* shows the left-chevron on the header even in desktop mode */
key-overview-details kui-content-header .content-header .mobile-nav {
    display: block;
}

kui-tab-bar .tab-bar {
    font-weight: var(--montserrat-weight);
}

kui-tab-bar .tab-bar ol li.active {
    background: var(--color-pale-blue-bg) !important;
}
kui-tab-bar .tab-bar ol li.active:hover {
    /* background: #daf0f6 !important; */
    background: var(--color-bg-hover) !important;
}

kui-tab-bar .tab-bar ol li kui-icon i {
    color: var(--color-primary-color);
}

kui-content-header .content-header .icon-mount i.icon {
    color: var(--color-primary-color);
}

key-details-sidebar .list-group-item.list-item:not(:first-child) {
    margin-left: 15px;
    padding-bottom: 0.5rem !important;
}

key-details-sidebar .list-item .list-item-container .list-group-item-text:first-child {
    width: 150px;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--color-grey-text);
}

key-details-sidebar .list-item .list-item-container .list-group-item-text:first-child strong {
    font-weight: normal;
    font-size: 0.9rem;
}

key-details-sidebar .list-item .list-item-container .list-group-item-text:last-child {
    text-align: left;
    margin-left: 0px !important;
}

key-details-sidebar .nav-title h6 {
    text-transform: none;
    font-size: 1.3rem;
    color: black;
    padding: 1rem;
}

key-details-overview-summary .mb-1 {
    margin: 0.6rem 0 !important;
}

/* show icons in tabs */
kui-tab-bar .tab-bar ol li kui-icon,
kui-tab-bar .tab-bar ol li kui-icon.tab-icon {
    display: inline-block !important;
}

/* key-overview-details kui-tab-bar .tab-bar ol li {
    padding: 0 0.55rem;
} */

/* Adjust small listing RHS icon (eg video icon) */
key-listing-description {
    width: calc(100% - 30px);
    float: left;
}
key-listing kui-icon {
    transform: none;
}
key-listing kui-icon i.icon {
    font-size: 14px !important;
    opacity: unset !important;
}
key-listing-avatar kui-icon i.icon {
    font-size: 1.5rem !important;
}

key-map-options kui-icon {
    color: var(--color-telematics-blue);
}

/* White bg for footer utility btns */
.overview-details-footer .content-header {
    background-color: #fff !important;
}

/* make the color bar visible in the asset list and map */
.key-listing-color-bar {
    display: block !important;
    min-height: 43.5px;
}
.map-marker-color-bar {
    display: inline-block !important;
}

/* FEEDS */

.feed-entry .feed-entry-details .accent {
    font-family: Montserrat;
    font-size: 105%;
}

.feed-entry #entry-title,
.feed-entry .entry-title {
    padding-bottom: 8px;
}

.feed-entry .feed-entry-details .entry-title {
    flex-direction: column;
}

.feed-entry .feed-entry-details .entry-title .icon-arrow-right-long:before {
    content: '\f175';
}

/* changes the trip feed caption into a vertical layout */
.feed-entry .feed-entry-details .entry-title {
    flex-direction: column;
}
.feed-entry .feed-entry-details .entry-title .icon-arrow-right-long {
    padding-left: 15px;
}
.feed-entry .feed-entry-details .entry-title .icon-arrow-right-long:before {
    content: '\f063';
}

/* shows the feed icons */
.feed-entry .feed-entry-details .icon-trip,
.feed-entry .feed-entry-details .icon-event {
    display: inline-block !important;
}

.feed-entry .feed-entry-details .icon-trip .icon,
.feed-entry .feed-entry-details .icon-event .icon {
    color: var(--color-primary-color);
    font-size: calc(var(--height-header) * 0.3) !important;
    opacity: 1;
    margin-top: 2px;
}

/* customize trip feed icons */
.icon-trip-start .icon {
    color: green !important;
}
.icon-trip-start .icon:before {
    content: '\f3c5';
}
.icon-trip-end .icon {
    color: red !important;
}
.icon-trip-end .icon:before {
    content: '\f60e';
}

.icon-trip-parked .icon {
    color: gray !important;
}
.icon-trip-parked .icon:before {
    content: '\f540';
}

/* you can customize event & alert icons by targeting their classes and overriding the icon, see below */
.icon-event-assetactivationevent-activate .icon:before {
    content: '\f124';
}
.icon-event-assetactivationevent-deactivate .icon:before {
    content: '\f011';
}

/* FONT-AWESOME ICON SUBSTITUTION */

.main-nav kui-icon {
    color: var(--color-telematics-blue);
}

/* Profile */
.main-nav .icon-user:before {
    content: '\f4fe';
}

/* Videos */
.icon-photo-video:before {
    content: '\f03d';
}

/* Administration */
.main-nav .icon-cog:before {
    content: '\f085';
}

/* Logout */
.main-nav .icon-power-off:before {
    content: '\f08b';
}

/* Notifications */
.main-nav .icon-bells:before {
    content: '\f8fa';
}

/* Live Map */
.main-nav .icon-compass:before {
    content: '\f0ac';
}

/* CUSTOM ICON SUBSTITUTION */

@font-face {
    font-family: 'kinesispro7-minimap';
    src: url('https://raw.githubusercontent.com/keytelematics/kinesispro7-css/main/kinesispro7-minimap-markers.eot');
    src: url('https://raw.githubusercontent.com/keytelematics/kinesispro7-css/main/kinesispro7-minimap-markers.eot?#iefix') format('embedded-opentype'), url('https://raw.githubusercontent.com/keytelematics/kinesispro7-css/main/kinesispro7-minimap-markers.woff') format('woff'), url('https://raw.githubusercontent.com/keytelematics/kinesispro7-css/main/kinesispro7-minimap-markers.ttf') format('truetype'),
        url('https://raw.githubusercontent.com/keytelematics/kinesispro7-css/main/kinesispro7-minimap-markers.svg#typicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-trip-start .icon:before {
    font-family: 'kinesispro7-minimap';
    content: '\e900';
    color: #00be73;
    font-size: 1.2em;
}

.icon-trip-end .icon:before {
    font-family: 'kinesispro7-minimap';
    content: '\e901';
    font-size: 1.2em;
}

.icon-trip-parked .icon:before {
    font-family: 'kinesispro7-minimap';
    content: '\e903';
    font-size: 1.2em;
}

/* Idling icon? */

/* Icon overrides with inline svg data */

/* Request video link (blue icon) */
kui-content-header-actions kui-icon .icon-video::before {
    content: url('data:image/svg+xml;utf8,<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.4029 11.1144L14.202 13.084C14.2161 13.0939 14.2355 13.0838 14.2355 13.0666V7.41626C14.2355 7.39906 14.2161 7.389 14.202 7.3989L11.4029 9.36843V8.26586L13.6831 6.66145C14.2946 6.23117 15.1372 6.66855 15.1372 7.41626V13.0666C15.1372 13.8143 14.2946 14.2517 13.6831 13.8214L11.4029 12.217V11.1144ZM15.4043 0.400391C15.6066 0.400391 15.7706 0.564413 15.7706 0.766745V2.20106H17.2048C17.4072 2.20106 17.5712 2.36508 17.5712 2.56741C17.5712 2.76974 17.4072 2.93377 17.2048 2.93377H15.7706V4.36786C15.7706 4.57019 15.6066 4.73421 15.4043 4.73421C15.2019 4.73421 15.0379 4.57019 15.0379 4.36786V2.93377H13.6037C13.4014 2.93377 13.2373 2.76974 13.2373 2.56741C13.2373 2.36508 13.4014 2.20106 13.6037 2.20106H15.0379V0.766745C15.0379 0.564413 15.2019 0.400391 15.4043 0.400391ZM0.436035 6.81859C0.436035 5.75019 1.30213 4.88409 2.37052 4.88409H9.21721C10.2856 4.88409 11.1517 5.75019 11.1517 6.81859V13.6653C11.1517 14.7337 10.2856 15.5998 9.21721 15.5998H2.37052C1.30213 15.5998 0.436035 14.7337 0.436035 13.6653V6.81859ZM2.37052 5.76564C1.789 5.76564 1.31758 6.23706 1.31758 6.81859V13.6653C1.31758 14.2468 1.789 14.7182 2.37052 14.7182H9.21721C9.79873 14.7182 10.2702 14.2468 10.2702 13.6653V6.81859C10.2702 6.23706 9.79874 5.76564 9.21721 5.76564H2.37052Z" fill="%2300A7E1"/></svg>');
}
/* Request video button (white icon) */
button .icon-video::before {
    content: url('data:image/svg+xml;utf8,<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.4029 11.1144L14.202 13.084C14.2161 13.0939 14.2355 13.0838 14.2355 13.0666V7.41626C14.2355 7.39906 14.2161 7.389 14.202 7.3989L11.4029 9.36843V8.26586L13.6831 6.66145C14.2946 6.23117 15.1372 6.66855 15.1372 7.41626V13.0666C15.1372 13.8143 14.2946 14.2517 13.6831 13.8214L11.4029 12.217V11.1144ZM15.4043 0.400391C15.6066 0.400391 15.7706 0.564413 15.7706 0.766745V2.20106H17.2048C17.4072 2.20106 17.5712 2.36508 17.5712 2.56741C17.5712 2.76974 17.4072 2.93377 17.2048 2.93377H15.7706V4.36786C15.7706 4.57019 15.6066 4.73421 15.4043 4.73421C15.2019 4.73421 15.0379 4.57019 15.0379 4.36786V2.93377H13.6037C13.4014 2.93377 13.2373 2.76974 13.2373 2.56741C13.2373 2.36508 13.4014 2.20106 13.6037 2.20106H15.0379V0.766745C15.0379 0.564413 15.2019 0.400391 15.4043 0.400391ZM0.436035 6.81859C0.436035 5.75019 1.30213 4.88409 2.37052 4.88409H9.21721C10.2856 4.88409 11.1517 5.75019 11.1517 6.81859V13.6653C11.1517 14.7337 10.2856 15.5998 9.21721 15.5998H2.37052C1.30213 15.5998 0.436035 14.7337 0.436035 13.6653V6.81859ZM2.37052 5.76564C1.789 5.76564 1.31758 6.23706 1.31758 6.81859V13.6653C1.31758 14.2468 1.789 14.7182 2.37052 14.7182H9.21721C9.79873 14.7182 10.2702 14.2468 10.2702 13.6653V6.81859C10.2702 6.23706 9.79874 5.76564 9.21721 5.76564H2.37052Z" fill="%23FFFFFF"/></svg>');
}

/* LARGE Geofences */
key-map-options-list kui-icon .icon-draw-polygon::before,
kui-modal kui-icon .icon-draw-polygon::before,
app-radio-control kui-icon .icon-draw-polygon::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" fill="none" viewBox="0 0 28 29"><path fill="%2300A7E1" fill-rule="evenodd" d="m7.156 13.343.094.222c.185.437.38.87.574 1.304l-.269.091c-1.782.605-3.246 1.446-4.26 2.415-1.015.97-1.565 2.05-1.565 3.145 0 1.66 1.272 3.295 3.48 4.53 2.195 1.228 5.259 2.023 8.698 2.023 3.438 0 6.502-.795 8.698-2.023 2.207-1.235 3.478-2.87 3.478-4.53 0-1.095-.55-2.176-1.564-3.145-1.014-.969-2.478-1.81-4.26-2.415l-.27-.091.51-1.152.16-.374.227.079c4.032 1.394 6.857 4.008 6.857 7.098 0 2.326-1.607 4.385-4.104 5.848-2.504 1.466-5.945 2.365-9.732 2.365-3.788 0-7.23-.899-9.733-2.365C1.678 24.905.071 22.846.071 20.52c0-3.09 2.825-5.704 6.857-7.098l.228-.08Z" clip-rule="evenodd"/><path fill="%2300A7E1" fill-rule="evenodd" d="m12.538 20.113 1.39-.836 1.398.826-1.386 2.343-1.402-2.333Zm2.317-2.468c-.549.994-.926 1.632-.926 1.632s-.382-.635-.936-1.627c-1.466-2.624-4.136-7.746-4.136-10.222a5.072 5.072 0 0 1 10.143 0c0 2.38-2.682 7.565-4.145 10.217Zm.47 2.458-1.396-.826-1.391.836-.005-.008-.012-.02-.045-.076a60.429 60.429 0 0 1-.754-1.307 78.376 78.376 0 0 1-1.78-3.344c-.648-1.294-1.31-2.725-1.813-4.07-.484-1.296-.895-2.696-.895-3.86a6.695 6.695 0 0 1 13.39 0c0 1.135-.415 2.523-.897 3.804-.503 1.336-1.163 2.769-1.809 4.07a83.582 83.582 0 0 1-2.53 4.696l-.046.077-.012.02-.004.008Z" clip-rule="evenodd"/></svg>');
}

/* SMALL Geofences */
.zone-list kui-icon .icon-draw-polygon::before,
key-map-options.compact key-map-options-list kui-icon .icon-draw-polygon::before,
.compact key-map-options-list kui-icon .icon-draw-polygon::before,
.main-nav-link kui-icon .icon-draw-polygon::before,
.main-nav kui-icon .icon-draw-polygon::before,
key-listing kui-icon .icon-draw-polygon::before,
kui-nav-sub kui-icon .icon-draw-polygon::before,
key-map-options.compact:not(:has(kui-card)) kui-icon .icon-draw-polygon::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" fill="none" viewBox="0 0 20 19"><path fill="%2300A7E1" fill-rule="evenodd" d="m5.284 8.541.064.15c.126.297.258.59.389.885l-.182.061c-1.208.41-2.2.98-2.888 1.637-.687.657-1.06 1.39-1.06 2.132 0 1.125.862 2.233 2.358 3.07 1.488.832 3.565 1.372 5.895 1.372 2.331 0 4.408-.54 5.896-1.372 1.496-.837 2.358-1.945 2.358-3.07 0-.742-.373-1.475-1.06-2.132-.688-.657-1.68-1.227-2.888-1.637l-.183-.062.346-.78.108-.254.154.054c2.733.945 4.648 2.716 4.648 4.81 0 1.577-1.09 2.973-2.782 3.964-1.697.994-4.03 1.604-6.597 1.604s-4.9-.61-6.596-1.604C1.572 16.378.482 14.982.482 13.406c0-2.095 1.915-3.866 4.648-4.812l.154-.053Z" clip-rule="evenodd"/><path fill="%2300A7E1" fill-rule="evenodd" d="m8.932 13.13.943-.567.947.56-.94 1.588-.95-1.581Zm1.57-1.674c-.371.675-.627 1.107-.627 1.107s-.259-.43-.634-1.103c-.994-1.78-2.804-5.25-2.804-6.928a3.437 3.437 0 1 1 6.875 0c0 1.613-1.818 5.127-2.81 6.925Zm.32 1.667-.947-.56-.943.567-.003-.006-.008-.014-.03-.05a50.602 50.602 0 0 1-.51-.886A53.207 53.207 0 0 1 7.17 9.905a29.507 29.507 0 0 1-1.228-2.758c-.328-.878-.607-1.827-.607-2.616a4.538 4.538 0 0 1 9.075 0c0 .769-.28 1.71-.607 2.578a30.74 30.74 0 0 1-1.226 2.759 56.745 56.745 0 0 1-1.716 3.183l-.03.052-.008.013-.003.006Z" clip-rule="evenodd"/></svg>');
}

/* LARGE Draw / New Geofence (with PLUS) */
key-map-options key-map-option-zones kui-icon .icon-draw-polygon::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" fill="none" viewBox="0 0 28 29"><path fill="%2300A7E1" fill-rule="evenodd" d="M23.454 1.682a.698.698 0 1 1 1.396 0v2.392h2.391a.698.698 0 1 1 0 1.395H24.85v2.392a.698.698 0 1 1-1.396 0V5.47h-2.392a.698.698 0 1 1 0-1.395h2.392V1.682Zm-16.22 12.95.087.207c.173.408.355.812.535 1.216l-.25.085c-1.662.564-3.028 1.349-3.973 2.252-.946.904-1.46 1.912-1.46 2.933 0 1.549 1.187 3.073 3.245 4.224 2.048 1.146 4.905 1.887 8.112 1.887s6.064-.741 8.112-1.887c2.058-1.151 3.244-2.675 3.244-4.224 0-1.021-.513-2.03-1.459-2.933-.945-.903-2.311-1.688-3.973-2.252l-.251-.085.475-1.074.149-.35.212.074c3.76 1.301 6.395 3.738 6.395 6.62 0 2.17-1.5 4.09-3.828 5.454-2.335 1.367-5.544 2.205-9.076 2.205-3.532 0-6.741-.838-9.076-2.206C2.125 25.415.626 23.495.626 21.326c0-2.882 2.635-5.319 6.395-6.62l.212-.073Z" clip-rule="evenodd"/><path fill="%2300A7E1" fill-rule="evenodd" d="m12.253 20.945 1.297-.78 1.302.77-1.292 2.186-1.307-2.176Zm2.16-2.302c-.511.927-.863 1.523-.863 1.523s-.356-.593-.873-1.518C11.31 16.2 8.82 11.424 8.82 9.115a4.73 4.73 0 0 1 9.46 0c0 2.22-2.502 7.056-3.867 9.528Zm.44 2.293-1.303-.77-1.297.78-.005-.008-.011-.02-.042-.07a68.84 68.84 0 0 1-.703-1.22 73.127 73.127 0 0 1-1.66-3.118c-.604-1.206-1.22-2.54-1.69-3.796-.452-1.207-.835-2.513-.835-3.599a6.243 6.243 0 0 1 12.486 0c0 1.059-.387 2.353-.836 3.547-.469 1.246-1.084 2.583-1.687 3.796a77.97 77.97 0 0 1-2.36 4.38l-.042.071-.011.02-.005.007Z" clip-rule="evenodd"/></svg>');
}
/* SMALL Draw / New Geofence (with PLUS) */
key-map-option-zones .compact kui-icon .icon-draw-polygon::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" fill="none" viewBox="0 0 21 22"><path fill="%2300A7E1" fill-rule="evenodd" d="M17.073 1.317a.507.507 0 0 1 1.014 0v1.738h1.739a.507.507 0 1 1 0 1.014h-1.739v1.739a.507.507 0 1 1-1.014 0V4.069h-1.738a.507.507 0 0 1 0-1.014h1.738V1.317ZM5.284 10.728l.064.15c.126.297.258.591.389.885l-.182.062c-1.208.41-2.2.98-2.888 1.636-.687.657-1.06 1.39-1.06 2.132 0 1.126.862 2.233 2.358 3.07 1.488.833 3.565 1.372 5.895 1.372 2.331 0 4.408-.54 5.896-1.372 1.496-.837 2.358-1.944 2.358-3.07 0-.742-.373-1.475-1.06-2.132-.688-.656-1.68-1.226-2.888-1.636l-.183-.062.346-.781.108-.253.154.053c2.733.945 4.648 2.717 4.648 4.811 0 1.577-1.09 2.972-2.782 3.964-1.697.994-4.03 1.603-6.597 1.603s-4.9-.61-6.596-1.603C1.572 18.565.482 17.17.482 15.593c0-2.094 1.915-3.866 4.648-4.811l.154-.054Z" clip-rule="evenodd"/><path fill="%2300A7E1" fill-rule="evenodd" d="m8.932 15.317.943-.567.947.56-.94 1.588-.95-1.58Zm1.57-1.673c-.371.674-.627 1.106-.627 1.106s-.259-.43-.634-1.103c-.994-1.778-2.804-5.25-2.804-6.928a3.437 3.437 0 1 1 6.875 0c0 1.614-1.818 5.128-2.81 6.925Zm.32 1.666-.947-.56-.943.567-.003-.005-.008-.014-.03-.051a50.602 50.602 0 0 1-.51-.886 53.212 53.212 0 0 1-1.209-2.267 29.505 29.505 0 0 1-1.228-2.759c-.328-.878-.607-1.827-.607-2.616a4.538 4.538 0 0 1 9.075 0c0 .77-.28 1.71-.607 2.578a30.86 30.86 0 0 1-1.226 2.76 56.768 56.768 0 0 1-1.716 3.182l-.03.052-.008.014-.003.005Z" clip-rule="evenodd"/></svg>') !important;
}

/* Edit Geofence icon LARGE (with PENCIL) */
key-map-option-zones kui-icon .icon-edit::before {
    /* content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" fill="none" viewBox="0 0 32 33"><path fill="%2300A7E1" fill-rule="evenodd" d="m30.448.393.86.86a1.264 1.264 0 0 1 0 1.788l-5.89 5.89-2.871.378.198-3L28.661.393a1.264 1.264 0 0 1 1.787 0Zm.19 1.978a.316.316 0 0 0 0-.447l-.86-.86a.316.316 0 0 0-.447 0l-.377.377 1.307 1.307.377-.377Zm-2.054.064-.312-.312-4.605 4.604-.099 1.492h.001l.052-.778.681.682.673-.089 4.604-4.604-.313-.313-3.56 3.56-.681-.682 3.56-3.56Zm-13.19 21.372-1.397-.826 1.397.826Zm-.471-2.458a69.845 69.845 0 0 1-.926 1.632s-.382-.635-.936-1.628c-1.465-2.624-4.136-7.746-4.136-10.221a5.072 5.072 0 1 1 10.143 0c0 2.38-2.682 7.565-4.145 10.217Zm.476 2.45-.005.008-1.386 2.343-1.402-2.333-.005-.008-.012-.02-.045-.076a74.443 74.443 0 0 1-.754-1.308 78.502 78.502 0 0 1-1.78-3.343c-.648-1.294-1.309-2.725-1.812-4.07-.485-1.296-.896-2.696-.896-3.86a6.695 6.695 0 1 1 13.39 0c0 1.135-.415 2.523-.897 3.803-.503 1.337-1.163 2.77-1.809 4.07a83.522 83.522 0 0 1-2.53 4.697l-.046.077-.011.02Zm-8.175-6.752.094.222c.166.393.34.782.514 1.171l.06.133-.269.091c-1.782.605-3.246 1.446-4.26 2.415-1.015.969-1.564 2.05-1.564 3.145 0 1.66 1.271 3.295 3.478 4.53 2.196 1.228 5.26 2.023 8.699 2.023 3.438 0 6.502-.795 8.698-2.023 2.207-1.235 3.479-2.87 3.479-4.53 0-1.095-.55-2.176-1.564-3.145-1.015-.969-2.479-1.81-4.261-2.415l-.27-.091.51-1.152.16-.374.227.079c4.032 1.394 6.858 4.008 6.858 7.098 0 2.326-1.608 4.385-4.105 5.848-2.504 1.466-5.945 2.365-9.732 2.365-3.788 0-7.23-.899-9.733-2.365C1.746 28.609.14 26.55.14 24.224c0-3.09 2.826-5.704 6.857-7.099l.228-.078Z" clip-rule="evenodd"/></svg>'); */
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" fill="none" viewBox="0 0 28 29"><path fill="%2300A7E1" fill-rule="evenodd" d="m26.784.422.75.75c.43.43.43 1.128 0 1.559l-5.136 5.136-2.503.33.174-2.617L25.226.422c.43-.43 1.128-.43 1.558 0Zm.166 1.725a.276.276 0 0 0 0-.39l-.75-.75a.275.275 0 0 0-.39 0l-.328.329 1.14 1.14.328-.329Zm-1.79.056-.273-.272-4.015 4.014-.086 1.301.046-.678.594.594.586-.077 4.015-4.015-.273-.272L22.651 5.9l-.595-.594 3.104-3.104ZM13.658 20.837l-1.218-.72 1.218.72Zm-.41-2.144c-.479.867-.808 1.423-.808 1.423s-.332-.553-.816-1.419c-1.277-2.288-3.606-6.754-3.606-8.912a4.422 4.422 0 1 1 8.844 0c0 2.075-2.338 6.596-3.614 8.908Zm.415 2.137-.005.007-1.208 2.042-1.223-2.034-.004-.007-.01-.017-.04-.066-.145-.247a68.419 68.419 0 0 1-2.065-3.81c-.563-1.127-1.14-2.375-1.58-3.548-.422-1.13-.78-2.35-.78-3.365a5.837 5.837 0 1 1 11.674 0c0 .99-.361 2.2-.781 3.316-.438 1.165-1.014 2.415-1.577 3.55a72.744 72.744 0 0 1-2.207 4.094l-.039.067-.01.018Zm-7.128-5.888.082.194c.145.342.297.682.448 1.021l.052.116-.234.08c-1.554.527-2.83 1.26-3.715 2.105-.884.845-1.364 1.788-1.364 2.742 0 1.448 1.11 2.873 3.034 3.95 1.914 1.07 4.586 1.764 7.584 1.764 2.998 0 5.67-.693 7.584-1.764 1.924-1.077 3.033-2.502 3.033-3.95 0-.954-.48-1.897-1.364-2.742-.884-.845-2.16-1.578-3.715-2.106l-.234-.08.444-1.004.14-.326.198.069c3.515 1.216 5.979 3.495 5.979 6.19 0 2.027-1.402 3.822-3.58 5.098-2.182 1.279-5.183 2.062-8.485 2.062-3.302 0-6.303-.783-8.486-2.062C1.76 25.023.357 23.229.357 21.2c0-2.694 2.464-4.973 5.98-6.19l.198-.068Z" clip-rule="evenodd"/></svg>');
}
/* Edit Geofence icon SMALL (with PENCIL) */
key-map-option-zones .compact kui-icon .icon-edit::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" fill="none" viewBox="0 0 22 23"><path fill="%2300A7E1" fill-rule="evenodd" d="m20.591 1.038.568.568a.834.834 0 0 1 0 1.18l-3.888 3.888-1.894.249.13-1.98 3.905-3.905a.834.834 0 0 1 1.18 0Zm.126 1.305a.209.209 0 0 0 0-.294l-.568-.568a.209.209 0 0 0-.295 0l-.248.248.862.863.25-.249Zm-1.355.043-.206-.206-3.04 3.038-.065.985.035-.513.45.45.443-.059 3.04-3.039-.207-.206-2.35 2.35-.45-.451 2.35-2.35Zm-9.628 13.56-.918.552.918-.552Zm.922.545-.922-.545.922.545Zm0 0-.915 1.547-.925-1.54-.003-.006-.008-.013-.03-.05a35.37 35.37 0 0 1-.498-.863 51.81 51.81 0 0 1-1.175-2.207 28.73 28.73 0 0 1-1.196-2.686c-.32-.855-.59-1.779-.59-2.547a4.418 4.418 0 1 1 8.836 0c0 .749-.274 1.665-.591 2.51a30.035 30.035 0 0 1-1.194 2.686 55.03 55.03 0 0 1-1.67 3.1l-.03.05-.008.014-.003.005Zm-.311-1.622a46.17 46.17 0 0 1-.611 1.077s-.252-.42-.618-1.074c-.967-1.732-2.73-5.112-2.73-6.746a3.347 3.347 0 1 1 6.695 0c0 1.57-1.77 4.993-2.736 6.743Zm-5.081-2.84.062.147c.11.26.224.516.34.773l.038.088-.177.06c-1.176.4-2.142.954-2.812 1.594-.67.64-1.032 1.353-1.032 2.075 0 1.097.84 2.175 2.296 2.99 1.449.81 3.471 1.336 5.74 1.336 2.27 0 4.293-.525 5.742-1.336 1.456-.815 2.296-1.893 2.296-2.99 0-.722-.363-1.436-1.033-2.075-.669-.64-1.636-1.195-2.812-1.594l-.178-.06.337-.76.105-.247.15.052c2.661.92 4.526 2.645 4.526 4.684 0 1.536-1.06 2.894-2.709 3.86-1.652.968-3.924 1.561-6.423 1.561-2.5 0-4.771-.593-6.423-1.561-1.649-.966-2.71-2.324-2.71-3.86 0-2.039 1.866-3.764 4.526-4.684l.15-.053Z" clip-rule="evenodd"/></svg>');
}

/* Geofences icon in Admin > Features pane */
key-admin-section-editor kui-icon .icon-draw-polygon::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" fill="none" viewBox="0 0 28 29"><path fill="%23dddddd" fill-rule="evenodd" d="m7.156 13.343.094.222c.185.437.38.87.574 1.304l-.269.091c-1.782.605-3.246 1.446-4.26 2.415-1.015.97-1.565 2.05-1.565 3.145 0 1.66 1.272 3.295 3.48 4.53 2.195 1.228 5.259 2.023 8.698 2.023 3.438 0 6.502-.795 8.698-2.023 2.207-1.235 3.478-2.87 3.478-4.53 0-1.095-.55-2.176-1.564-3.145-1.014-.969-2.478-1.81-4.26-2.415l-.27-.091.51-1.152.16-.374.227.079c4.032 1.394 6.857 4.008 6.857 7.098 0 2.326-1.607 4.385-4.104 5.848-2.504 1.466-5.945 2.365-9.732 2.365-3.788 0-7.23-.899-9.733-2.365C1.678 24.905.071 22.846.071 20.52c0-3.09 2.825-5.704 6.857-7.098l.228-.08Z" clip-rule="evenodd"/><path fill="%23dddddd" fill-rule="evenodd" d="m12.538 20.113 1.39-.836 1.398.826-1.386 2.343-1.402-2.333Zm2.317-2.468c-.549.994-.926 1.632-.926 1.632s-.382-.635-.936-1.627c-1.466-2.624-4.136-7.746-4.136-10.222a5.072 5.072 0 0 1 10.143 0c0 2.38-2.682 7.565-4.145 10.217Zm.47 2.458-1.396-.826-1.391.836-.005-.008-.012-.02-.045-.076a60.429 60.429 0 0 1-.754-1.307 78.376 78.376 0 0 1-1.78-3.344c-.648-1.294-1.31-2.725-1.813-4.07-.484-1.296-.895-2.696-.895-3.86a6.695 6.695 0 0 1 13.39 0c0 1.135-.415 2.523-.897 3.804-.503 1.336-1.163 2.769-1.809 4.07a83.582 83.582 0 0 1-2.53 4.696l-.046.077-.012.02-.004.008Z" clip-rule="evenodd"/></svg>');
}

/* Alert icon colour */
.radio-control__option .icon::before {
    color: var(--color-telematics-blue);
}

/* Give the 'pin/reorder telemetry property' functionality a simple interactivity signifier (eg ⋯ on the RHS of the row) */
kui-card-body key-details-ordered-list-item {
    position: relative;
    width: 100%;
}
kui-card-body .ordered-list-item:hover key-details-ordered-list-item::after {
    content: '⋯';
    right: 10px;
    top: 50%;
    transform: translateY(-45%);
    position: absolute;
    color: #888;
}

/*

@font-face {
    font-family: 'kinesispro7';
    src: url("/assets/fonts/kinesispro7.eot");
    src: url("/assets/fonts/kinesispro7.eot?#iefix") format('embedded-opentype'),
         url("/assets/fonts/kinesispro7.woff") format('woff'),
         url("/assets/fonts/kinesispro7.ttf") format('truetype'),
         url("/assets/fonts/kinesispro7.svg#typicons") format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-compass:before {
    font-family: 'kinesispro7';
    content: "\e900";
    font-size: 1.2em;
}

.icon-exclamation-triangle:before {
    font-family: 'kinesispro7';
    content: "\e901";
    font-size: 1.2em;
}

.icon-photo-video:before {
    font-family: 'kinesispro7';
    content: "\e902";
    font-size: 1.2em;
}

.icon-analytics:before {
    font-family: 'kinesispro7';
    content: "\e903";
    font-size: 1.2em;
} */

/* .icon-browser:before {
    font-family: 'kinesispro7';
    content: "\e";
    font-size: 1.2em;
} */
/* 
.icon-history:before {
    font-family: 'kinesispro7';
    content: "\e904";
    font-size: 1.2em;
}

.icon-search-location:before {
    font-family: 'kinesispro7';
    content: "\e905";
    font-size: 1.2em;
}

.icon-chart-pie:before {
    font-family: 'kinesispro7';
    content: "\e906";
    font-size: 1.2em;
}

.icon-cog:before {
    font-family: 'kinesispro7';
    content: "\e907";
    font-size: 1.2em;
}
 */

/* .icon-home:before {
    font-family: 'kinesispro7';
    content: "\e";
    font-size: 1.2em;
}

.icon-house-user:before {
    font-family: 'kinesispro7';
    content: "\e";
    font-size: 1.2em;
}

.icon-user:before {
    font-family: 'kinesispro7';
    content: "\e";
    font-size: 1.2em;
}

.icon-bells:before {
    font-family: 'kinesispro7';
    content: "\e";
    font-size: 1.2em;
}


.icon-power-off:before {
    font-family: 'kinesispro7';
    content: "\e";
    font-size: 1.2em;
}
*/
