/* CSS Custom properties */

/* Defined in the Kinesis Pro theme
--content-font-color: #161616;
*/

:root {
    --color-grey-text: #60747C;
    --color-grey-text-darker: #45545b;
    --color-telematics-blue: #00A7E1;
    --color-telematics-blue-darker: #0075A9;
    --color-pale-blue-bg: #F5FCFE;
    --color-pale-blue-bg-hover: #FBFEFE;
    --color-bg-hover: #f5f7f7;
    --color-bg-hover--lighter: #f8fafa;
    --color-bg-hover-darker: #e3e7e7;
    --color-border-grey: #f3f6f6;
    --montserrat-weight: 500;
}

/* Open Sans for sub text */
p,
p a,
.details-overview__summary .small,
#entry-description,
.entry-description,
key-listing-description,
key-listing-stat,
key-details-overview-summary,
key-feed-entry-info,
.item-list label
{
    font-family: "Open Sans", Montserrat, sans-serif;
}
/* Open Sans for marker labels */
.font-sans-serif {
    font-family: "Open Sans", Montserrat, Ubuntu,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif !important;
    font-weight: 500;
    padding: 0 3px;
}
/* reset to primary font */
key-details-overview-summary h3 {
    font-family: Montserrat, "Open Sans", sans-serif;
}

/* Lighter grey text for various */
.nav-link:not(.active) .nav-link-text,
key-listing-description,
.listing .listing__stat,
.details-overview__summary .small,
kui-tab-bar .tab-bar ol li,
#entry-description,
.entry-description,
kui-content-header-actions
{
    color: var(--color-grey-text);
}
key-listing-description .muted-less {
    opacity: unset !important;
}

/* Hover bg + text colour states */ /* TODO: also focus states */
a.main-nav-link.nav-link.action:hover,
.listing--active,
.listing--hover:hover:not(.listing--active),
kui-tab-bar .tab-bar ol li.hover:hover,
.map-button:hover
{
    background: var(--color-bg-hover) !important;
}
.feed-entry:hover {
    background: var(--color-bg-hover--lighter);
}
.nav-link:hover .nav-link-text, 
.tab-bar ol li:hover .text-truncate, 
a.main-nav-link.nav-link.action:hover .nav-link-text,
.nav-link.hover:hover,
.app-menu .app-menu-content a.main-nav-link.nav-link.active:hover .nav-link-text,
.overview-details-footer .action.hover:hover,
.text-link:hover
{
    opacity: unset;
    color: var(--content-font-color) !important;
}

key-listing:hover key-listing-description {
    color: var(--color-grey-text-darker);
}

/* Border colours */
.app-menu .app-menu-content .app-menu-content-inner,
.main-nav-link.nav-link.active,
.listing,
kui-content-header .content-header,
kui-tab-bar .tab-bar, kui-tab-bar .tab-bar *,
.app-content *,
.feed-entry
{
    border-color: var(--color-border-grey);
}
div:not(#tabs) > .tabs-header > .content-header {
    border-top: 0;
}
.overview-details-footer .content-header,
kui-content-header:first-of-type .content-header,
.overview-details-footer .content-header
{
    border-bottom: 0;
}
#tabs kui-content-header:first-of-type .content-header {
    border-bottom: 1px solid var(--color-border-grey);
}
kui-content-header .content-header .tab-mount kui-tab-bar ol li:last-of-type {
    border-right: 1px solid var(--color-border-grey);
}

/* Float panel – fit tab text! */
kui-side-panel {
    width: 430px !important;
}
kui-tab-bar .tab-bar ol li {
    /* font-size: 12.5px; */
}
kui-tab-bar .tab-bar ol li kui-icon i {
    /* padding: 0.2rem; */
}
/* ...and make the tabs wrap */
key-overview-details kui-tab-bar .tab-bar ol {
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    overflow: hidden;
    width: 100%;
}
key-overview-details kui-tab-bar .tab-bar ol:after {
    content: "";
    border-top: 1px solid blue;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 42px;
}
key-overview-details kui-tab-bar .tab-bar ol li {
    padding: 10px;
}
kui-content-header .content-header {
    height: auto;
}

/* Asset list search Go btn */
.content-card-block .input-group .btn-secondary {
    background: var(--color-telematics-blue);
    color: #fff;
    border: 0;
}
.content-card-block .input-group .btn-secondary:hover {
    opacity: unset;
    background: var(--color-telematics-blue-darker);
}
.content-card-block .input-group .btn-secondary kui-icon {
    color: #fff;
}
/* Asset list search Close btn */
.content-card-block .input-group .btn-danger {
    background: #f7f7f7;
    color: var(--color-grey-text);
    border: 0;
}
.content-card-block .input-group .btn-danger:hover,
.content-card-block .input-group .btn-danger:focus,
.content-card-block .input-group .btn-danger:active {
    background: var(--color-bg-hover-darker);
}

/* Float panel drop shadow */
kui-side-panel.left.shadow.position-absolute {
    box-shadow: 0 5px 8px 0 rgb(0 42 69 / 18%);
}
.leaflet-bar {
    box-shadow: 0 5px 8px 0 rgb(0 42 69 / 18%) !important;
}
key-map-toolbar {
    filter: drop-shadow(0 5px 8px rgba(0,42,69,18%));
}

/* Move colour bar to the right of label */
.leaflet-tooltip {
    padding-right: 12px;
}
.map-marker-color-bar {
    display: inline-block !important;
    position: absolute;
    right: 0;
    top: 0px;
    height: 100%;
    width: 6px !important;
    margin-right: 0 !important;
}
.leaflet-tooltip-right {
    margin-left: 4px;
}
.leaflet-tooltip-left {
    margin-right: 4px;
}
.leaflet-tooltip-right .map-marker-color-bar {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.leaflet-tooltip-left .map-marker-color-bar {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

/* Show icon (not red text) for highlighted stale Time Ago text */
key-listing-stat .text-danger {
    color: var(--color-grey-text) !important;
}
key-listing-stat > span.text-danger::after {
    content: " ⚠️";
    margin-right: 1em;
}

/* Animate map marker on hover */
.position-marker svg {
    transform-origin: bottom center;
    transition: all 0.15s cubic-bezier(0.280, 0.840, 0.420, 1);
}
.position-marker:hover svg {
    transform: scale(1.2);
}
/* Animate map label on hover */
.map-marker-color-bar,
.leaflet-tooltip
{
    transition: all 0.15s cubic-bezier(0.280, 0.840, 0.420, 1);
}
.position-marker:hover + .leaflet-tooltip {
    opacity: 1 !important;
}

/* Utility icons (search, filter etc) */
kui-content-header .content-header kui-icon:hover i.icon,
kui-content-header .content-header kui-icon:focus i.icon
kui-content-header .content-header kui-icon:active i.icon
{
    color: var(--content-font-color);
}
/* Alert icons etc */
key-listing kui-icon {
    color: var(--color-telematics-blue);
    transform: scale(0.9);
}

/* Asset name dropdown focus border */
.input-group kui-select:not(:last-child) .dropdown .dropdown-toggle {
    border-right: 1px solid transparent !important;

}
.input-group kui-select:not(:last-child) .dropdown .dropdown-toggle:focus {
    border-right: 1px solid var(--color-primary-color) !important;
}



/* Allow grey info text  to run full width of panel in Asset Details > Trips */ 
feed-entry-info {
    margin-left: 0 !important;
}
key-trip-feed-item #entry-description {
    width: calc(100% + 105px);
}





/* Remove slight x scrolling issue */
.details-container {
    overflow-x: hidden !important;
}

/* Scroll bars styles */
::-webkit-scrollbar-thumb {
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.3);
    background-clip: padding-box;
}



/* --- */

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
}

kui-content-header .content-header .title,
.map-button-assets
{
    font-weight: 500;
}

/* restyle the company name */

.user-profile {
    margin: 8px;
    padding: 0.4rem;
    border-radius: 3px 3px;
    background: none;
    box-shadow: 0 2px 6px 0 rgb(0 70 103 / 7%);
    font-size: 11px;
}
.user-profile:hover,
.user-profile:focus,
.user-profile:active {
    background: var(--color-bg-hover);
}

.menu-collapsed .user-profile {
    box-shadow: none;
    margin: 0;
    padding: 0.5rem;
    border-radius: none;
    background: none;
} 


kui-menu-brand .brand {
    border-bottom-style: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

kui-menu-brand .brand img {
    max-width: 145px;
}

/* navigation icons */ 

.main-nav .main-nav-link {
    padding: 10px 5px 10px 15px;
}

.menu-collapsed .main-nav .main-nav-link {
    padding: 0.8rem 1rem;
}

.main-nav-link.nav-link.active {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

a.main-nav-link.nav-link.action.hover.active {
    background: #F5FCFE !important;
}

/* a.main-nav-link.nav-link.action:hover {
    background: #FBFEFE !important;
} */

.main-nav-link.active .nav-link-text {

    color: #333 !important;
}

.main-nav-link.active:before {
    width: 0 !important;
}


.nav-section .nav-link-text {
    margin-left: 0.6rem;
}

/** Overview details box */

/* change the search icon to a chevron and change side */
.map-button.map-button-assets {
    display: flex;
    align-content: center;
    flex-direction: row-reverse;
}
.map-button.map-button-assets i {
    margin-right: 0;
    margin-left: 8px;
    margin-top: 3px;
}
.map-button.map-button-assets i:before {
    content: "\f054"
}


/* shows the left-chevron on the header even in desktop mode */
key-overview-details kui-content-header .content-header .mobile-nav {
    display: block;
}

kui-tab-bar .tab-bar {
    font-weight: var(--montserrat-weight);
}

kui-tab-bar .tab-bar ol li.active {
    background: var(--color-pale-blue-bg) !important;
}
kui-tab-bar .tab-bar ol li.active:hover {
    /* background: #daf0f6 !important; */
    background: var(--color-bg-hover) !important;
}

kui-tab-bar .tab-bar ol li kui-icon i {
    color: var(--color-primary-color)
}

kui-content-header .content-header .icon-mount i.icon {
    color: var(--color-primary-color)
}

key-details-sidebar .list-group-item.list-item:not(:first-child) {
    margin-left: 15px;
    padding-bottom: 0.5rem !important;
}

key-details-sidebar .list-item .list-item-container .list-group-item-text:first-child {
    width: 150px;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--color-grey-text);
}

key-details-sidebar .list-item .list-item-container .list-group-item-text:first-child strong {
    font-weight: normal;
    font-size: 0.9rem;
}


key-details-sidebar .list-item .list-item-container .list-group-item-text:last-child {
    text-align: left;
    margin-left: 0px !important;
}

key-details-sidebar .nav-title h6 {
    text-transform: none;
    font-size: 1.3rem;
    color: black;
    padding: 1rem;
}

key-details-overview-summary .mb-1 {
    margin: 0.6rem 0 !important;
}

/* show icons in tabs */
kui-tab-bar .tab-bar ol li kui-icon {
    display: inline-block !important;
}
key-overview-details kui-tab-bar .tab-bar ol li {
    padding: 0 0.55rem;
}

/* Adjust small listing RHS icon (eg video icon) */
key-listing-description {
    width: calc(100% - 30px);
    float: left;
}
key-listing kui-icon {
    transform: none;
}
key-listing kui-icon i.icon {
    font-size: 14px !important;
    opacity: unset !important;
}

/* White bg for footer utility btns */
.overview-details-footer .content-header {
    background-color: #fff !important;
}

/* make the color bar visible in the asset list and map */
.key-listing-color-bar {
    display: block !important;
    min-height: 43.5px;
}
.map-marker-color-bar {
    display: inline-block !important;
}
 

/* FEEDS */

.feed-entry .feed-entry-details .accent {
    font-family: Montserrat;
    font-size: 105%;
}

.feed-entry #entry-title, .feed-entry .entry-title {
    padding-bottom: 8px;
}

.feed-entry .feed-entry-details .entry-title {
    flex-direction: column;
}

.feed-entry .feed-entry-details .entry-title .icon-arrow-right-long:before {
    content: "\f175";
}

/* changes the trip feed caption into a vertical layout */
.feed-entry .feed-entry-details .entry-title {
    flex-direction: column;
}
.feed-entry .feed-entry-details .entry-title .icon-arrow-right-long {
    padding-left: 15px;
}
.feed-entry .feed-entry-details .entry-title .icon-arrow-right-long:before {
    content: "\f063";
}

/* shows the feed icons */
.feed-entry .feed-entry-details .icon-trip,
.feed-entry .feed-entry-details .icon-event {
    display: inline-block !important;
}

.feed-entry .feed-entry-details .icon-trip .icon,
.feed-entry .feed-entry-details .icon-event .icon {
    color: var(--color-primary-color);
    font-size: calc(var(--height-header) * .30) !important;
    opacity: 1;
    margin-top: 2px;
}

/* customize trip feed icons */
.icon-trip-start .icon {
    color: green !important;
}
.icon-trip-start .icon:before {
    content: "\f3c5"
    
}
.icon-trip-end .icon {
    color: red !important;
}
.icon-trip-end .icon:before {
    content: "\f60e"
}

.icon-trip-parked .icon {
    color: gray !important;
}
.icon-trip-parked .icon:before {
    content: "\f540"
}

/* you can customize event & alert icons by targeting their classes and overriding the icon, see below */
.icon-event-assetactivationevent-activate .icon:before {
    content: "\f124"
}
.icon-event-assetactivationevent-deactivate .icon:before {
    content: "\f011"
}








/* FONT-AWESOME ICON SUBSTITUTION */

.main-nav kui-icon {
    color: var(--color-telematics-blue);
}

/* Profile */
.main-nav .icon-user:before {
    content: "\f4fe";
}

/* Videos */
.icon-photo-video:before {
    content: "\f03d";
}

/* Administration */
.main-nav .icon-cog:before {
    content: "\f085";
}

/* Logout */
.main-nav .icon-power-off:before {
    content: "\f08b";
}

/* Notifications */
.main-nav .icon-bells:before {
    content: "\f8fa";
}

/* Live Map */
.main-nav .icon-compass:before {
    content: "\f0ac"    
}

/* CUSTOM ICON SUBSTITUTION */

@font-face {
    font-family: 'kinesispro7-minimap';
    src: url("https://raw.githubusercontent.com/keytelematics/kinesispro7-css/main/kinesispro7-minimap-markers.eot");
    src: url("https://raw.githubusercontent.com/keytelematics/kinesispro7-css/main/kinesispro7-minimap-markers.eot?#iefix") format('embedded-opentype'),
         url("https://raw.githubusercontent.com/keytelematics/kinesispro7-css/main/kinesispro7-minimap-markers.woff") format('woff'),
         url("https://raw.githubusercontent.com/keytelematics/kinesispro7-css/main/kinesispro7-minimap-markers.ttf") format('truetype'),
         url("https://raw.githubusercontent.com/keytelematics/kinesispro7-css/main/kinesispro7-minimap-markers.svg#typicons") format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-trip-start .icon:before {
    font-family: 'kinesispro7-minimap';
    content: "\e900";
    color: #00BE73;
    font-size: 1.2em;
}

.icon-trip-end .icon:before {
    font-family: 'kinesispro7-minimap';
    content: "\e901";
    font-size: 1.2em;
}

.icon-trip-parked .icon:before {
    font-family: 'kinesispro7-minimap';
    content: "\e903";
    font-size: 1.2em;
}

/* Idling icon? */



/*

@font-face {
    font-family: 'kinesispro7';
    src: url("/assets/fonts/kinesispro7.eot");
    src: url("/assets/fonts/kinesispro7.eot?#iefix") format('embedded-opentype'),
         url("/assets/fonts/kinesispro7.woff") format('woff'),
         url("/assets/fonts/kinesispro7.ttf") format('truetype'),
         url("/assets/fonts/kinesispro7.svg#typicons") format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-compass:before {
    font-family: 'kinesispro7';
    content: "\e900";
    font-size: 1.2em;
}

.icon-exclamation-triangle:before {
    font-family: 'kinesispro7';
    content: "\e901";
    font-size: 1.2em;
}

.icon-photo-video:before {
    font-family: 'kinesispro7';
    content: "\e902";
    font-size: 1.2em;
}

.icon-analytics:before {
    font-family: 'kinesispro7';
    content: "\e903";
    font-size: 1.2em;
} */

/* .icon-browser:before {
    font-family: 'kinesispro7';
    content: "\e";
    font-size: 1.2em;
} */
/* 
.icon-history:before {
    font-family: 'kinesispro7';
    content: "\e904";
    font-size: 1.2em;
}

.icon-search-location:before {
    font-family: 'kinesispro7';
    content: "\e905";
    font-size: 1.2em;
}

.icon-chart-pie:before {
    font-family: 'kinesispro7';
    content: "\e906";
    font-size: 1.2em;
}

.icon-cog:before {
    font-family: 'kinesispro7';
    content: "\e907";
    font-size: 1.2em;
}
 */


/* .icon-home:before {
    font-family: 'kinesispro7';
    content: "\e";
    font-size: 1.2em;
}

.icon-house-user:before {
    font-family: 'kinesispro7';
    content: "\e";
    font-size: 1.2em;
}

.icon-user:before {
    font-family: 'kinesispro7';
    content: "\e";
    font-size: 1.2em;
}

.icon-bells:before {
    font-family: 'kinesispro7';
    content: "\e";
    font-size: 1.2em;
}


.icon-power-off:before {
    font-family: 'kinesispro7';
    content: "\e";
    font-size: 1.2em;
}
*/
